/* stylelint-disable number-no-trailing-zeros */
body {
  background: #f3f2f1;
  font-family: 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-style: normal;
  color: rgb(126, 123, 123);
}

.wrapper {
  width: 400px;
  margin: 100px auto;
  background: #fff;
  border-radius: 2px;
  box-shadow: 0 19px 38px rgba(0, 0, 0, 0.30), 0 15px 12px rgba(0, 0, 0, 0.22);
}

.task-title {
  padding: 5px 10px;
}

.input-list {
  width: 100%;
  padding: 5px 10px;
  border: none;
  font-family: 'Times New Roman', Times, serif;
  font-style: italic;
  outline: none;
}

.list-item {
  display: flex;
  align-items: center;
  width: 100%;
  list-style: none;
  border-bottom: 1px solid rgb(218, 213, 213);
  padding: 10px 10px;
}

.checkbox {
  margin-right: 10px;
}

.list-item > p {
  margin: 0;
}

.index {
  color: transparent;
}

.icon {
  color: gray;
  margin: 0 0 0 auto;
}

.delete-all-task {
  width: 100%;
  border: none;
  padding: 10px 0;
  color: rgb(99, 97, 97);
}

.list-item.dragging {
  opacity: 0.5;
  background-color: red;
}

[contenteditable] {
  outline: 0 solid transparent;
}
